.primary-navigation {
  padding: 80px 75px;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

@media (max-width: $tablet) {
  .primary-navigation {
    padding: 40px 30px;
    .logo {
      width: 115px;
    }
    ul {
      gap: 20px;
    }
  }
}

@media (max-width: $mobile) {
  .primary-navigation {
    padding: 20px 18px;
  }
}
