.section-services {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 880px;
  flex-wrap: wrap;

  .figure-service {
    width: 350px;
    height: 250px;
    margin: 60px auto;
    padding: 0 20px;

    img {
      margin: 30px auto;
    }

    .services-para {
      margin: 10px 0 0 0;
    }
  }
}

@media (max-width: $tablet) {
  .section-services {
    .figure-service {
      padding: 0;
    }
  }
}

@media (max-width: $mobile) {
  .section-services {
    .figure-service {
      margin: 125px 0 0 0;
      img {
        margin: 30px auto;
      }
    }
    .figure-service:first-of-type {
      margin: 55px 0 0 0;
    }
  }
}
