// Primary
$intro: hsl(217, 28%, 15%);
$email: hsl(217, 28%, 15%);
$background: hsl(218, 28%, 13%);
$footer: hsl(216, 53%, 9%);
$testimonials: hsl(219, 30%, 18%);

// Accent
$cyan: hsl(176, 66%, 80%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);
